[worklog]
# Determines where the worklog backend file is located.
path = ~/.worklog

# Defines how many entries of the logfile should be printable to STDOUT before
# using a pager.
no_pager_max_entries = 10

[workday]
# Defines how many hours per day should be worked.
hours_target = 8
# Defines how many working hours per day are the upper limit.
# This value should be larger or equal than `workday.hours_target`.
hours_max = 10
